@use 'components/index' as i;

.about-us-container {
  @include i.hero;
  background-image: url(/img/weights-2.jpg);

  p {
    font-size: 3rem;
    font-family: i.$header;
  }
}

.company-description {
  display: flex;
  gap: 5px;
  margin: 50px 5px 20px 5px;
  padding: 5px;

  .image {
    div {
      width: clamp(300px, 60vw, 475px);
      height: 600px;
    }

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .company-wrapper {
    .description,
    .what-we-do,
    .mission {
      line-height: 2.5;
      margin-bottom: 25px;

      .title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-family: i.$header;
        position: relative;
        width: 170px;

        @include i.after;
      }

      .mission-statement {
        width: 250px;
      }
    }
  }
}

/*-------MEDIA QUERIES---------*/
// @media (max-width: 500px) {
//   .company-description {
//     .image {
//       width: 310px;
//     }
//   }
// }

@media (max-width: 768px) {
  .company-description {
    flex-direction: column;
  }
}
