@import './components/colors.scss';
@import './components/fonts.scss';

.about-us-container {
  height: 450px;
  width: 98%;
  margin: 0 auto;
  border-radius: 10px;
  background-image: url(/img/weights-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    // font-size: clamp();
    font-size: 3rem;
    font-family: $header;
  }
}
