@use 'components/index' as i;

.about-us-container {
  @include i.hero;
  background-image: url(/img/weights-2.jpg);

  p {
    font-size: 3rem;
    font-family: i.$header;
  }
}

.company-description {
  display: flex;
  gap: 10px;
  margin: 50px 5px 20px 5px;
  padding: 10px;

  .company-wrapper {
    width: 60%;
  }

  .description,
  .what-we-do,
  .mission {
    line-height: 2.5;

    .title {
      font-size: 1.5rem;
      margin-bottom: 10px;
      font-family: i.$header;
      position: relative;
      width: 170px;

      @include i.after;
    }

    .mission-statement {
      width: 250px;
    }
  }

  .image {
    width: 475px;
    height: 600px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 410px) {
  .company-description {
    .image {
      width: 350px;
      height: 425px;
    }
  }
}

@media (max-width: 850px) {
  .company-description {
    flex-direction: column;
    .company-wrapper {
      width: 100%;
    }

    .image {
      width: 425px;
      height: 100%;
    }
  }
}
