@use 'components/index' as i;

.amenities-hero {
  @include i.hero;
  background-image: url(/img/background-1.jpg);

  p {
    font-size: 3rem;
    font-family: i.$header;
  }
}

.amenities-container {
  margin: 40px 0;
  padding: 20px;

  .amenity {
    display: flex;
    gap: 60px;
    width: 100%;
    margin: 40px 0;

    .image {
      height: 400px;
      width: 50%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .description {
      width: 40%;
      line-height: 2.2;

      .title {
        font-family: i.$header;
        margin-bottom: 10px;
        font-size: 1.5rem;
        position: relative;
        width: 65px;
        text-align: center;

        @include i.after;
      }

      .weight-lifting {
        width: 200px;
      }

      .classes,
      .aqua-center {
        width: 205px;
      }

      .cycling {
        width: 105px;
      }
    }
  }
}

/*-------MEDIA QUERIES---------*/

@media (max-width: 768px) {
  .amenities-container {
    .amenity {
      flex-direction: column;

      .image {
        height: 400px;
        width: 100%;
      }

      .description {
        width: 100%;
        margin-bottom: 10px;

        .title {
          margin-top: -45px;
        }
      }
    }
  }
}
