@use 'components/index' as i;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: i.$background;
  color: white;
  font-family: i.$content;
}

/*-------HERO---------*/
.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;

  .inner-hero-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

    /*------- CALL TO ACTION---------*/

    .call-to-action {
      width: clamp(480px, 60%, 800px);
      height: 40%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        margin-top: 180px;
        margin-left: 70px;

        p:nth-child(1) {
          font-family: i.$header;
          font-size: clamp(2rem, 5vw, 4.5rem);
          width: 60%;
        }

        p:nth-child(2) {
          width: 80%;
          line-height: 2.5;
          // background-color: red;
        }

        // look up how to make this a variable or something so i stay DRY
        button {
          font-family: i.$header;
          background-color: i.$chili-red;
          color: white;
          border-radius: 30px;
          padding: 10px 15px;
          border: none;
          margin-top: 10px;
          width: fit-content;
        }
      }
    }

    /*-------END CALL TO ACTION---------*/
  }

  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*-------END HERO---------*/

/*-------ABOUT---------*/
.about-us-container {
  width: 80%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: space-around;

  img {
    height: 500px;
    object-fit: cover;
  }

  div {
    width: 400px;
    padding: 10px;

    p:nth-child(1) {
      font-family: i.$header;
      font-size: clamp(1rem, 2vw, 2rem);
    }

    p:nth-child(2) {
      line-height: 1.9;
      margin-top: 10px;
    }

    button {
      font-family: i.$header;
      background-color: i.$chili-red;
      color: white;
      border-radius: 30px;
      padding: 10px 15px;
      border: none;
      margin-top: 10px;
    }
  }
}
/*-------END ABOUT---------*/

/*-------SERVICES---------*/
.services-container {
  background-color: i.$chili-red;
  width: 100%;
  height: auto;
  padding: 10px;

  .title {
    font-family: i.$header;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      margin-bottom: 15px;

      figure {
        margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        a {
          img {
            height: 275px;
            width: 275px;
            border-radius: 15px;
            transform: scale(1.2);
            transition-property: transform;
          }
        }

        figcaption {
          position: absolute;
          inset: 0;
          pointer-events: none;
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 2rem;
          border-radius: 15px;
          z-index: 1;
          background: rgba(0, 0, 0, 0.4);

          main {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 2rem;

            p:nth-child(1) {
              font-family: i.$header;
              font-size: 1.5rem;
              margin: 2rem 0;
              font-weight: 500;
            }

            p:nth-child(2) {
              font-family: i.$content;
            }
          }
        }
      }
    }
  }
  // pseudo elements and transitions
  figcaption::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(21, 22, 24, 0.8) 0%, #151618 100%);
    z-index: -1;
    opacity: 0;
    transition-property: opacity;
  }

  figure:hover figcaption::before {
    opacity: 1;
  }

  figure main {
    transform: translate3d(0, 13rem, 0);
    transition-property: opacity, transform;
  }

  figcaption::before,
  figure img,
  figure main {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  figure:hover a img {
    transform: scale(1);
  }

  figure:hover main {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0);
  }
}

/*-------END SERVICES---------*/

/*------- MEMBERSHIP---------*/
.membership-container {
  padding: 10px;
  margin: 20px 0 50px 0;

  p {
    font-size: 1.5rem;
    text-align: center;
    margin: 30px 0 50px 0;
    font-family: i.$header;
  }

  .membership-inner-container {
    display: flex;
    gap: 90px;
    justify-content: center;
    height: 580px;
    padding: 10px;

    .membership {
      background-color: white;
      width: 300px;
      min-height: 480px;
      text-align: center;
      border-radius: 10px;
      padding: 15px 10px;
      display: flex;
      flex-direction: column;
      color: black;
      justify-content: space-between;
      transform: scale(0.99);

      main {
        .tier {
          color: i.$chili-red;
          margin: 0;
          font-family: i.$header;
        }

        .price {
          border: none;
          margin-bottom: 5px;
        }

        .frequency {
          border-bottom: 2px solid black;
          width: 70%;
          margin: 0 auto 15px auto;
          padding: 5px;
          font-size: 0.8rem;
        }

        ul {
          li {
            margin: 10px 0;

            i {
              font-size: 0.6rem;
            }
          }
        }
      }

      button {
        font-family: i.$header;
        background-color: i.$chili-red;
        color: white;
        border-radius: 30px;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
      }
    }

    div:nth-child(1) {
      align-self: flex-end;
    }

    div:nth-child(3) {
      align-self: flex-end;
    }
  }

  .membership:hover {
    transform: scale(1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}
/*-------END MEMBERSHIP---------*/

/*-------MEDIA QUERIES---------*/

@media (max-width: 768px) {
  // hero
  .hero-container {
    .inner-hero-container {
      // nav
      header {
        position: relative;

        nav {
          color: black;
          background-color: #fcf7f2;
          color: black;
          width: 100%;
          height: 400px;
          position: absolute;
          top: 0;
          right: 800px;
          padding: 30px;
          text-align: left;
          display: block;
          border-radius: 10px;

          .nav-control-logo {
            display: flex;
            justify-content: space-between;
            padding-left: 5px;
            color: i.$chili-red;

            .fa-x {
              cursor: pointer;
              color: black;
            }
          }
        }

        ul {
          display: block;
          li {
            margin: 40px 5px;
            color: black;

            a {
              color: black;
            }
          }
        }

        .fa-x,
        .fa-bars {
          display: block;
        }
        button {
          display: none;
        }
      }
    }
  }

  // about
  .about-us-container {
    flex-direction: column;

    div {
      button {
        margin-top: 10px;
      }
    }
  }

  // membership
  .membership-container {
    .membership-inner-container {
      display: block;
      height: auto;

      .membership {
        width: 100%;
        height: 200px;
        margin: 5px 0;
      }
    }
  }
}
