@use 'components/index' as i;

.meet-trainers {
  height: 500px;
  width: 100%;
  background-image: url(/img/header-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 3rem;
    font-family: i.$header;
  }
}

.trainers {
  .title {
    font-family: i.$header;
    font-size: 1.5rem;
    margin: 50px auto 20px auto;
    width: 245px;
    position: relative;
    text-align: center;
  }

  .title::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: i.$chili-red;
  }

  .title-description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .trainers-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px auto;

    figure {
      height: 375px;
      width: 275px;
      position: relative;
      z-index: -5;
      margin: 20px 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      figcaption {
        position: absolute;
        width: 260px;
        height: 150px;
        background-color: i.$chili-red;
        top: 75%;
        left: 8px;
        padding: 10px;
        border-radius: 10px;

        p:nth-child(1) {
          font-family: i.$header;
          margin-bottom: 10px;
        }
      }
    }
  }
}
