@import './components/colors.scss';
@import './components/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px 170px;
  background-color: #0f0f0f;
  border-top: 1px solid grey;
  gap: 0;

  .footer-section-1 {
    padding: 20px;
    border-right: 1px solid grey;

    h2 {
      font-family: $header;
      margin-top: 10px;
    }

    p {
      width: 60%;
      margin-top: 10px;
    }

    ul {
      display: flex;

      li {
        margin-top: 10px;

        a {
          color: white;
        }
      }
    }
  }

  .footer-section-2 {
    padding: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    line-height: 1.9;

    .business-info {
      iframe {
        border-radius: 5px;
        height: 200px;
        width: 300px;
      }
    }
  }

  .footer-section-3 {
    grid-column: span 2;
    display: flex;
    border-top: 1px solid grey;
    color: rgba(187, 185, 189, 0.3);
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    div {
      overflow-y: hidden;
      height: 165px;
      justify-self: center;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        font-size: 10em;
      }
    }

    p {
      margin-left: auto;
      padding: 5px;
    }
  }
}

/*-------END FOOTER---------*/
