@use 'index' as i;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 50px;
  background-color: #0f0f0f;
  border-top: 1px solid grey;
  gap: 0;

  .footer-section-1 {
    padding: 20px;
    border-right: 1px solid grey;

    h2 {
      font-family: i.$header;
      margin-top: 10px;
    }

    p {
      width: 60%;
      margin-top: 10px;
    }

    ul {
      display: flex;

      li {
        margin-top: 10px;

        a {
          color: white;
        }
      }

      .hours-title {
        font-family: i.$header;
      }
    }
  }

  .footer-section-2 {
    padding: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    line-height: 1.9;

    .business-info {
      iframe {
        border-radius: 5px;
        height: 200px;
        width: 300px;
      }

      ul {
        li {
          color: white;
        }
      }
    }
  }

  .footer-section-3 {
    grid-column: span 2;
    border-top: 1px solid grey;
    color: rgba(187, 185, 189, 0.3);
    text-align: center;
    padding: 5px;
  }
}

/*-------MEDIA QUERIES---------*/

@media (max-width: 768px) {
  footer {
    display: block;

    .footer-section-1 {
      border-right: none;
      border-bottom: 1px solid grey;
    }
    .footer-section-2 {
      display: block;

      div {
        margin: 10px 0;
      }
    }

    .footer-section-3 {
      height: 50px;
    }
  }
}
