@use 'index' as i;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: i.$background;
  color: white;
  font-family: i.$content;
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex;
  position: fixed;
  width: 98%;
  top: 0;
  left: 0;
  transform: translate(1%, 5%);
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-family: i.$header;
  font-size: 18px;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(21, 22, 24, 0.3) 0%,
    rgba(21, 22, 24, 0.5) 100%
  );
  border-radius: 25px;

  p {
    margin-right: auto;

    a {
      color: white;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 60%;

    span {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 95%;

    li {
      cursor: pointer;

      a {
        position: relative;
        color: white;
        @include i.after(0);
      }
    }

    a::after {
      transition: 0.3s;
    }

    a:hover::after {
      width: 100%;
    }

    .active {
      @include i.after;
    }
  }

  .fa-x,
  .fa-bars {
    display: none;
  }

  button {
    font-family: i.$header;
    background-color: i.$chili-red;
    color: white;
    border-radius: 30px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
}

/*-------MEDIA QUERIES---------*/
@media (max-width: 768px) {
  header {
    nav {
      display: none;
      padding: 30px;
      width: 100%;
      height: 400px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: left;
      background-color: #fcf7f2;
      border-radius: 10px;
      transition: 0.8s ease-in-out;

      .nav-control-logo {
        display: flex;
        justify-content: space-between;
        color: i.$chili-red;

        .fa-x {
          cursor: pointer;
          color: black;
          display: block;
        }
      }

      ul {
        display: block;

        .fa-x {
          position: absolute;
          left: 10px;
          top: 10px;
          cursor: pointer;
        }

        li {
          margin: 40px 0;

          a {
            color: black;
          }
        }
      }
    }

    button {
      display: none;
    }

    .fa-bars {
      display: block;
    }
  }
}
